html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

h1 {
    color: #552f99;
    font-family: arial, sans-serif;
    font-weight: lighter;
}

body {
    margin-bottom: 60px;
    background-color: #EEE;
}